body, html {
    margin:0;
    padding:0;
    font-size: 10pt;
}

#container {
    padding: 0 1em;
    margin: 0 auto;
    height: 85vh;
}

/* all tables */
.label{
  color: #080c17;
  font: 14pt Verdana, sans-serif;
  text-transform: uppercase;
}

.tbl-header{
  font: bold 12px/18px sans-serif;
  background-color: #1e3864;
  color: #fff;
  text-transform: uppercase;
}
.tbl-content{
  border-top: 5px solid #e64946;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  overflow-x:auto;
  margin-top: 0px;
}
.tbl-body tr:hover {
    background-color: #e64946;
    color: honeydew;
    font-weight: 200;
}

.tbl-content td{
  border-bottom: 1px solid black;
  text-align: left;
  vertical-align:middle;
  font-size: 12px;
  white-space: normal;
}
/* left table */
#primary {
    float: left;
    width: 23%;
    height: 100%;
    padding: 10px;
  text-align: left;
}
#primary #fCheckbox {
}
#primary #fCheckbox div{
  float: left;
}
#primary #fInput {
  width: 100%; /* Full-width */
  font-size: 12px; /* Increase font-size */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 4px; /* Add some space below the input */
}
#primary .tbl-header th {
    text-align: center;
    font-size: 12px;
    padding: 12px;
}
#primary .tbl-header th.prevTD, th.typeTD {
  width: 45%;
}
#primary .tbl-content {
  max-height: 95%;
}

#primary .tbl-content td {
  padding: 2px;
}

td.rankTD {
  width: 5%;
}
td.prevTD, td.typeTD {
  width: 40%;
}

/* right table */
#secondary {
    float: left;
    width: 55%;
  text-align: center;
}

#secondary .tbl-header th {
    text-align: center;
    font-size: 12px;
    width: 11.11%;
    padding: 12px;
}

#secondary .tbl-content td{
    text-align: center;
    width: 11.11%;
    padding: 2px 4px;
}

td.pmTD {
    font-family: fantasy;
    border-right: 2px solid #1e3864;
}
td.itemTD {
	border-right: 2px solid #1e3864;
}
td.wzTD {
    font-family:monospace;
}
#third {
  min-width: 70%;
  width: 70%;
}
#third table{
  border: 2px solid black;
}
#third th {
  text-align: center;
  font-size: 12px;
  padding: 12px;
  font: bold 12px/18px sans-serif;
  background-color: #1e3864;
  color: #fff;
  text-transform: uppercase;
  border-right: 2px solid black;
  overflow-x:auto;
  margin-top: 0px;
}
#third td {
  padding: 5px;
  border-bottom: 1px solid black;
}

span {
    height:30px;
    display:inline-grid;
}
span.pokemonIcon, span.typeIcon {
    width:40px;
}
span.typeIcon {
  border: inset 1px black;
}
span.typeIconInner {
    width:40px;
    height:15px;
}
.typeNone{background-color:transparent}.typeNormal{background-color:#B2AC8C}.typeFighting{background-color:#934538}.typeFire{background-color:#F45C19}.typeIce{background-color:#4CACC2}.typeElectric{background-color:#EAA317}.typeFlying{background-color:#7E9ECF}.typeGrass{background-color:#04A641}.typeGround{background-color:#967344}.typePoison{background-color:#8F5B98}.typeBug{background-color:#989001}.typeDark{background-color:#7A0049}.typeWater{background-color:#4392D5}.typePsychic{background-color:#D7738D}.typeDragon{background-color:#625EB3}.typeRock{background-color:#878052}.typeGhost{background-color:#5563A4}.typeSteel{background-color:#999}.typeFairy{background-color:#FBF}

.footer {
    clear: both;
    text-align: right;
    margin:20px;
    padding: 20px;
}

